@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

#container{
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

#room-header{
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  display: none;
}

#room-header-controls{
  display: flex;
}

#room-header-controls > img {
  margin: 0 2px;
}

.control-icon{
  background-color: indianred;
  border: none;
  padding: 0.5em;
  height: 20px;
  cursor: pointer;
  border-radius: 5px;
}



#members{
  display: flex;
  flex-wrap: wrap;
}

.speaker{
  /* border:2px solid #fff;
  border-radius: 50%; */

  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  text-align: center;
}

#avatars{
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
}

.avatar-selection{
  height: 50px;
  width: 50px;
  object-fit: contain;
  border: 2px solid #FFF;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;
  margin: 0.25em;
}

.user-avatar{
  height: 75px;
  width: 75px;
  object-fit: contain;
  border: 2px solid #FFF;
  border-radius: 50%;
}

#form input{
  width: 100%;
  padding: 1em;
  margin-bottom:2em;
  box-sizing: border-box;
}

#form label{
  margin-bottom: 0.5em;
}

#form-fields{
  display: flex;
  flex-direction: column;
}